<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- App Special Part -->

  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
  <meta name="theme-color" content="#1565c0">

  <!-- / App Special Part -->

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400" crossorigin="anonymous">
  <link rel="icon" href="/favicon.ico">
  <title>企鹅物流数据统计</title>
  <link rel="preconnect" href="https://penguin.upyun.galvincdn.com">
  <link rel="preconnect" href="https://penguin-stats.s3.amazonaws.com">

  <meta name="description" content="Penguin Statistics is the Department of Data Analysis of Penguin Logistics." />

  <style>#app,body,html{height:100%;margin:0;padding:0;transition:background .3s cubic-bezier(.25,.8,.5,1)!important}body{background:#121212}.nojs h1{font-size:48px;margin:.2em 0}.nojs h2{font-size:36px}.nojs p{margin:.5em 0}.nojs hr{margin:24px 0;border:1px solid #212121}.nojs{position:fixed;top:0;left:0;height:100%;width:100%;z-index:9999999999;background:#4d2222;background:repeating-linear-gradient(-45deg,#3c1b1b,#3c1b1b 90px,#1d0d0d 0,#1d0d0d 180px);display:flex;align-items:center;justify-content:center}.nojs-content{vertical-align:middle;width:70%;font-weight:700;font-size:18px;font-family:-apple-system,Noto Sans SC,BlinkMacSystemFont,Segoe UI,Microsoft YaHei UI,Microsoft Yahei,微软雅黑,Helvetica,Arial,sans-serif;padding:48px 64px;word-break:break-word;text-align:center;line-height:2;border-radius:16px;background:#cc696f;background:rgba(204,105,111,.8);backdrop-filter:blur(16px);text-shadow:0 2px 4px rgba(0,0,0,.3);border:4px solid #ff878f;color:#261415;box-shadow:0 0 2rem rgba(0,0,0,.5),inset 0 0 2rem rgba(0,0,0,.5)}.nojs .nojs-btn{display:inline-block;border:2px solid #000;padding:8px 24px;margin:0 8px;text-decoration:none;background:#3375e0;color:#fff;font-family:sans-serif;font-size:14px;cursor:pointer;text-align:center;transition:background 50ms ease-out,transform .15s ease;-webkit-appearance:none;-moz-appearance:none}.nojs .nojs-btn:focus,.nojs .nojs-btn:hover{background:#368dff;transform:scale(1.05)}.nojs .nojs-btn:focus{outline:1px solid #fff;outline-offset:-4px}.nojs .nojs-btn:active{transform:scale(.99)}.nojs del{padding:4px 8px;background:#1d1d1d;background:repeating-linear-gradient(-45deg,#995d22,#995d22 15px,rgba(0,0,0,.5) 0,rgba(0,0,0,.5) 30px);color:#cbcbcb;border-radius:4px}.nojs .nojs-link{background:#0d47a1;color:#fff;border:2px solid #093777;padding:4px 6px;text-decoration:none;border-radius:4px}.nojs .nojs-btn:focus,.nojs .nojs-link:hover{background:#0f5ad6}.nojs .nojs-link:active{background:#0d4fba}</style>

</head>
<body>
<noscript>
  <img src="<%= PENGUIN_PROBE_NOSCRIPT %>" width="1" height="1" style="overflow: hidden; opacity: 0.5" alt=":D" />
  <div class="nojs">
    <div class="nojs-content">
      <h1>⚠️ JavaScript 已被禁用</h1>
      <p>
        很抱歉，但我们在您启用
        <del>等离子发动机</del>
        JavaScript 的情况下才能为您提供服务。
      </p>
<!--      <p>-->
<!--        若您确信自己已开启相关技术，那么可能是您的系统 WebView 版本太低了。-->
<!--      </p>-->
      <ol>
        <li>
          若您是 iOS 系统，可能是您系统自带的 WKWebView 组件由于某种未知原因工作不正常。造成这种现象可能有很多原因，我们推荐您重启系统并尝试重新打开此 App。若问题依旧，我们期望您将本页面截图，并附上您所经历的操作过程等尽可能详细的信息，发送至 <a href="mailto:appstore.feedback@imgal.vin">appstore.feedback@imgal.vin</a> 以让我们尝试进行错误排查。感谢。
        </li>
        <li>
          若您是 Android 系统，您可尝试使用系统自带的应用商店（或使用 Google Play，如有）升级名为「Android WebView」的应用后，重启此 App 并观察错误是否解决。
        </li>
      </ol>

      <br><br>
      <p>Penguin Statistics | <a class="nojs-link" href="https://github.com/penguin-statistics" target="_blank">GitHub</a></p>
    </div>
  </div>
</noscript>
<main id="app"></main>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="2aa1bf4c-8c34-4028-9e1c-ca1f6c330779";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</body>
</html>

