{
  "root": true,
  "globals": {
    "GIT_COMMIT": true,
    "PENGUIN_PLATFORM": true,
    "PENGUIN_PLATFORM_FROM": true
  },
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended",
    "@vue/standard"
  ],
  "rules": {
    "no-console": "off",
    "vuetify/no-deprecated-classes": "error",
    "vuetify/grid-unknown-attributes": "error",
    "vuetify/no-legacy-grid": "error",
    "vue/no-v-html": "off",
    "vue/no-template-shadow": "off",
    "vue/valid-template-root": "off",
    "no-tabs": [
      "error",
      {
        "allowIndentationTabs": true
      }
    ]
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "plugins": [
    "vuetify"
  ]
}