@font-face {
    font-family: 'Noto Serif JP';
    src: url('./noto-serif-jp-400.woff2') format('woff2'),
    url('./noto-serif-jp-400.woff') format('woff'),
    url('./noto-serif-jp-400.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif JP';
    src: url('./noto-serif-jp-700.woff2') format('woff2'),
    url('./noto-serif-jp-700.woff') format('woff'),
    url('./noto-serif-jp-700.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
