.slide-fade-enter-active {
    transition: all .175s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-fade-leave-active {
    transition: all .075s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateY(1.5vh);
    opacity: 0;
}

.transition-all {
    transition: all .225s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.v-navigation-drawer {
    /*transition: all .3s cubic-bezier(.25,.8,.5,1) !important;*/
}

.drawer-logo {
    height: 256px;
    padding: 32px;
    overflow: hidden;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.drawer-logo:hover {
    height: 304px;
}
.drawer-logo--two-line:hover {
    height: 336px;
}
.drawer-logo > .description {
    margin-top: 16px;
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    opacity: 0;
    transform: translateY(-12px) scaleX(0.95) scaleY(0.8);
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.drawer-logo:hover > .description {
    opacity: 1;
    transform: translateY(0px) scaleX(1) scaleY(1);
}

.randomizedLogo > .v-image__image {
    transition: background .5s cubic-bezier(0.19, 1, 0.22, 1);
}

.theme--light .bkop-light {
    background: rgba(255, 255, 255, .75) !important;
}

.theme--dark .bkop-light {
    background: rgba(30, 30, 30, .85) !important;
}

.theme--light .bkop-medium {
    background: rgba(255, 255, 255, .9) !important;
}

.theme--dark .bkop-medium {
    background: rgba(30, 30, 30, .9) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.transparentTable > .v-table__overflow > .v-table {
    background: transparent;
}

.line-height-wide {
    line-height: 1.8 !important;
}

/*.v-navigation-drawer::-webkit-scrollbar-thumb {*/
/*    background-color: rgb(200, 200, 200);*/
/*}*/

/*
 ********************
 * Scrollbar Styles: need more cross-platform testing
 ********************
 */

/*.v-dialog::-webkit-scrollbar {*/
/*    width: 4px;*/
/*}*/

/*::-webkit-scrollbar {*/
/*    height: 4px;*/
/*    width: 6px;*/
/*    background: transparent;*/
/*}*/

/*::-webkit-scrollbar-button:end:increment {*/
/*    background: transparent;*/
/*    display: none;*/
/*}*/
/*::-webkit-scrollbar-button:start:decrement {*/
/*    background: transparent;*/
/*    display: none;*/
/*}*/
/*::-webkit-scrollbar-track-piece:vertical {*/
/*    background: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));*/
/*}*/
/*::-webkit-scrollbar-track-piece:horizontal {*/
/*    background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .3));*/
/*}*/
/*::-webkit-scrollbar-thumb:horizontal {*/
/*    background: rgba(255, 255, 255, .4);*/
/*    border-radius: 2px;*/
/*    display: block;*/
/*    height: 24px;*/
/*}*/
/*::-webkit-scrollbar-thumb:vertical {*/
/*    background: rgba(255, 255, 255, .4);*/
/*    border-radius: 3px;*/
/*    display: block;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*    background: rgba(255, 255, 255, .55);*/
/*}*/
/*::-webkit-scrollbar-thumb:active {*/
/*    background: rgba(255, 255, 255, .65);*/
/*}*/
/*.v-dialog::-webkit-scrollbar-thumb:vertical {*/
/*    border-radius: 0 4px 4px 0;*/
/*}*/

/*.v-toolbar {*/
/*  padding-top: env(safe-area-inset-top);*/
/*}*/

/*.v-footer {*/
/*  height: calc(32px + env(safe-area-inset-bottom)) !important;*/
/*  padding-bottom: calc(env(safe-area-inset-bottom));*/
/*}*/

.no-wrap--text {
    word-break: break-word;
}
.no-break--text {
    word-break: keep-all;
}

.monospace {
    font-family: "benderregular", SF Mono, "Droid Sans Mono", Ubuntu Mono, Consolas, Courier New, Courier, monospace !important;
    letter-spacing: .03rem;
}

.monospace-pure {
    font-family: SF Mono, "Droid Sans Mono", Ubuntu Mono, Consolas, Courier New, Courier, monospace;
}

/*.v-stepper__items, .v-stepper__wrapper {*/
/*  overflow: initial !important;*/
/*}*/

.lang-ja .force-lang-font, .lang-ja {
    /*font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif !important;*/
    font-family : 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , 'ヒラギノ明朝 ProN' , 'Hiragino Mincho ProN' , '游明朝','游明朝体',YuMincho,'Yu Mincho' , 'Meiryo', 'ＭＳ 明朝' , 'MS Mincho' , HiraMinProN-W3 , 'TakaoEx明朝' , TakaoExMincho , 'MotoyaLCedar' , 'Droid Sans Japanese' , serif !important;
}
.lang-ko .force-lang-font, .lang-ko {
    font-family: 'Malgun Gothic', Gulim, 'Roboto', Tahoma, Arial, sans-serif !important
}
.force-not-lang-font {
    font-family: Roboto, sans-serif!important
}

.slash-strip--warning {
    background: repeating-linear-gradient(
            -45deg,
            rgb(237, 144, 53),
            rgb(237, 144, 53) 45px,
            rgb(0, 0, 0) 45px,
            rgb(0, 0, 0) 90px
    );
}

.slash-strip--warning-transparent {
    background: repeating-linear-gradient(
            -45deg,
            rgba(237, 144, 53, 0.5),
            rgba(237, 144, 53, 0.5) 45px,
            rgba(0, 0, 0, 0.5) 45px,
            rgba(0, 0, 0, 0.5) 90px
    );
}

.slash-strip--danger {
    background: repeating-linear-gradient(
            -45deg,
            rgb(209, 75, 61),
            rgb(209, 75, 61) 45px,
            rgb(0, 0, 0) 45px,
            rgb(0, 0, 0) 90px
    );
}

.theme--light .slash-strip--warning {
    background: repeating-linear-gradient(
            -45deg,
            rgb(237, 144, 53),
            rgb(237, 144, 53) 45px,
            rgb(255, 255, 255) 45px,
            rgb(255, 255, 255) 90px
    );
}

.theme--light .slash-strip--warning-transparent {
    background: repeating-linear-gradient(
            -45deg,
            rgba(237, 144, 53, 0.5),
            rgba(237, 144, 53, 0.5) 45px,
            rgba(255, 255, 255, 0.5) 45px,
            rgba(255, 255, 255, 0.5) 90px
    );
}

@keyframes slash-strip--loading__animation {
    from {
        background-position: -135px 0px;
    }

    to {
        background-position: 0px 0px;
    }
}

.slash-strip--loading {
    background: repeating-linear-gradient(
            -45deg,
            rgba(70, 150, 236, 0.5) -90px,
            rgba(70, 150, 236, 0.5) -45px,
            rgba(70, 150, 236, 1) -45px,
            rgba(70, 150, 236, 1) 0px,
            rgba(70, 150, 236, 0.5) 0px,
            rgba(70, 150, 236, 0.5) 45px,
            rgba(70, 150, 236, 1) 45px,
            rgba(70, 150, 236, 1) 90px
    ) ;
    background-size: 200%;
    transition: background .225s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: slash-strip--loading__animation 2s infinite cubic-bezier(0.05, 0.5, 0.3, 0.8);
}

.theme--light .slash-strip--danger {
    background: repeating-linear-gradient(
            -45deg,
            rgb(245, 104, 88),
            rgb(245, 104, 88) 45px,
            rgb(255, 255, 255) 45px,
            rgb(255, 255, 255) 90px
    );
}

.footer--safe-area {
    padding: 8px;
}

.safe-area--navigation-drawer {
    width: 300px !important;
}

.stepper-overflow-initial {
    overflow: initial;
}

.stepper-overflow-initial .v-stepper__wrapper {
    overflow: initial;
}

@supports(padding: calc(max(1px, 2px))) {
    .drawer-logo {
        height: calc(256px + env(safe-area-inset-top));
        padding: calc(32px + env(safe-area-inset-top)) 32px 32px 32px;
    }

    .drawer-logo:hover {
        height: calc(304px + env(safe-area-inset-top));
    }
    .drawer-logo--two-line:hover {
        height: calc(336px + env(safe-area-inset-top));
    }

    /*.x--safe-area {*/
    /*    padding-left: calc(max(env(safe-area-inset-left), 12px)) !important;*/
    /*    padding-right: calc(max(env(safe-area-inset-right), 12px)) !important;*/
    /*}*/

    .toolbar--safe-area {
        padding-left: calc(max(env(safe-area-inset-left), 16px)) !important;
        padding-right: calc(max(env(safe-area-inset-right), 16px)) !important;
        min-height: calc(56px + env(safe-area-inset-top)) !important;
        padding-top: env(safe-area-inset-top) !important;
    }

    .toolbar--safe-area .v-toolbar__content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .footer--safe-area {
        padding-top: 8px !important;
        padding-bottom: calc(max(env(safe-area-inset-bottom), 8px)) !important;
    }

    .safe-area--v-content {
        padding-top: calc(env(safe-area-inset-top) + 56px) !important;
    }

    .safe-area--navigation {
        padding-left: calc(max(env(safe-area-inset-left), 8px)) !important;
    }

    .safe-area--navigation-drawer {
        width: calc(env(safe-area-inset-left) + 300px) !important;
    }
}

.v-dialog > .theme--dark.v-card {
    background-color: #272727;
}
.v-tabs > .v-tabs-bar, .v-tabs-items {
    background-color: transparent !important;
}

.stat-table {
    background: transparent !important;
}
.stat-table th {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.stat-table-watermark {
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
    height: 100%;
    width: 100%;
    opacity: 0.025;
    margin-top: 12em;
}

.stat-table-fix-position {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background-transparent {
    background: transparent !important;
}

.item-name-td-xs {
    min-width: 100px;
}

.item-name-td-sm {
    min-width: 160px;
}

.charts-data-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.charts-wrapper {
    display: flex;
    align-items: center;
}


.item-name, .item-name--chevron, .item-name--text {
    transition: text-shadow .1s cubic-bezier(.25,.8,.5,1), filter .1s cubic-bezier(.25,.8,.5,1), transform .225s cubic-bezier(.25,.8,.5,1), opacity .225s cubic-bezier(.25,.8,.5,1) !important;
}
.item-name--text {
    z-index: 0;
}
.item-name {
    text-shadow: none;
    filter: none;
}
.theme--dark .item-name:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, .6);
}
.theme--light .item-name:hover {
    text-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

.item-name:hover .item-name--chevron {
    transform: translateX(4px) scale(1.3) rotate(-60deg);
}
.item-name:active .item-name--chevron {
    transform: translateX(4px) scale(1.05) rotate(-60deg);
}

.item-name--line {
    opacity: 0;
}

.item-name:hover .item-name--line {
    opacity: 1;
}

.scroll-chevron-left {
    margin-top: -3px;
    animation: scroll-left 3.5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.scroll-keyword {
    animation: scroll-keyword 3.5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.scroll-chevron-right {
    margin-top: -3px;
    animation: scroll-right 3.5s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes scroll-left {
    from {
        transform: translateX(0px);
        filter: brightness(1);
    }
    50% {
        transform: translateX(-5px);
        filter: brightness(2);
    }
    to {
        transform: translateX(0px);
        filter: brightness(1);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(0px);
        filter: brightness(1);
    }
    50% {
        transform: translateX(5px);
        filter: brightness(2);
    }
    to {
        transform: translateX(0px);
        filter: brightness(1);
    }
}

@keyframes scroll-keyword {
    from {
        filter: brightness(1);
    }
    30% {
        filter: brightness(1.5);
    }
    to {
        filter: brightness(1);
    }
}

.item-icon {
    position: absolute;
    z-index: 4
}
.item-icon.item-icon--special {
    position: absolute !important;
}

@media (max-width: 380px) {
    .col-xs-1-2 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 50% !important;
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@media (min-width: 1264px) and (max-width: 1584px) {
    .col-lg-1-8 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 12.5% !important;
        flex: 0 0 12.5% !important;
        max-width: 12.5% !important;
    }
}
@media (min-width: 1584px) and (max-width: 1904px) {
    .col-md-1-10 {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 10% !important;
        flex: 0 0 10% !important;
        max-width: 10% !important;
    }
}

