.markdown-content {
  &.markdown-content-credits {
    code {
      background: rgba(0, 0, 0, .05);
      color: inherit;
      box-shadow: none;
      border-radius: 4px;
      border: 1px solid #4d535a;
      margin: .25rem;
      padding: .2rem;
      word-break: break-word;
      //overflow: scroll;
      backdrop-filter: blur(20px) brightness(1.2);
    }

    pre > code {
      background: rgba(0, 0, 0, .025);
      color: inherit;
      box-shadow: none;
      border-radius: 8px;
      border: 2px solid #4d535a;
      margin: .5rem 0;
      padding: .5rem 1rem;
      font-size: 12px;
      backdrop-filter: blur(20px) brightness(1.2);
      &:before {
        display: none
      }
    }

    h2 {
      margin-bottom: .25rem;
    }
    h3 {
      margin-top: .5rem
    }
    ul {
      margin-left: .25rem
    }
  }
  hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, .8) .5rem, rgba(200, 200, 200, 0));
    margin: 2rem -.5rem;
  }
}

.backdrop-blur-dialog {
  background: rgba(30, 30, 30, .4) !important;
  .theme--light & {
    background: rgba(240, 240, 240, .8) !important;
  }
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.markdown-content-inline {
  p {
    margin-bottom: 0 !important;
  }
}

.chip-label {
  align-items: center;
  display: inline-flex;
  line-height: 20px;
  max-width: 100%;
  outline: none;
  overflow: hidden;
  padding: 0 9px 0 6px;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 11px;
  height: 20px;
  border-radius: 4px;
  background: #474747;
  font-weight: bold;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.12);

  .theme--light & {
    border-color: rgba(0, 0, 0, 0.12);
    background: #d7d7d7;
    color: #323232
  }

  &--large {
    font-size: 15px;
  }
}

.list-style-none {
  list-style: none;
}

.degraded-opacity {
  opacity: 0.7;
}

.unknown-ratio-glow .v-image__image {
  //box-shadow: inset 0 0 10px rgba(240, 240, 240, .4);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, .12));

  .theme--light & {
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, .12));
  }
}

.border-outlined {
  .theme--dark & {
    border: thin solid;
    border-color: hsla(0,0%,100%,.12) !important;
  }
  .theme--light & {
    border: thin solid;
    border-color: rgba(0,0,0,.12) !important;
  }
}

.fallthrough {
  user-select: none;
  pointer-events: none;
}

.table--with-footer tbody {
  tr:last-child {
    & td {
      border-top: thin solid rgba(0,0,0,.12) !important;
    }

    background: rgba(255, 255, 255, .12);
    &:hover {
      background: rgba(255, 255, 255, .12) !important;
    }
    .theme--light & {
      background: rgba(0, 0, 0, .08);
      &:hover {
        background: rgba(0, 0, 0, .08) !important;
      }
    }
  }
  tr:nth-last-child(2) td {
    border-bottom-width: 0 !important;
  }
}
