@mixin flex-center {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

@mixin drop-shadow($radius: 10px, $color: rgba(255, 255, 255, .1)) {
  filter: drop-shadow(0 0 $radius $color);
}

@mixin transition($scope: all, $duration: 225ms) {
  transition: $scope $duration cubic-bezier(0.25, 1, 0.5, 1);
}

@mixin apply-font-family {
  font-family: Roboto, -apple-system, Noto Sans SC, BlinkMacSystemFont, "Segoe UI", Microsoft YaHei UI, Microsoft Yahei, 微软雅黑, Helvetica, Arial, sans-serif;
}

@mixin full-screen($zIndex: 1) {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $zIndex;
}

.p-loader--gradient {
  @include full-screen();

  opacity: 0;
  z-index: -1;
  transition: opacity 2s cubic-bezier(0.25, 1, 0.5, 1), background-image 1s cubic-bezier(0.25, 1, 0.5, 1);
  background-image: linear-gradient(310deg, #36244d, #412c4d, #4d382f);

  &-haserror {
    background-image: linear-gradient(310deg, #6b2525, #4f2020, #4f1c1c);
  }
}

.p-loader--overlay {
  @include apply-font-family;
  @include full-screen(99999999);
  @include flex-center;
  @include transition(opacity, 300ms);

  display: flex;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, .8);
  color: #efefef;
  backdrop-filter: saturate(0.5) blur(5px);
  animation: p-loader--overlay-background 2s infinite alternate ease-in-out;

  h1 {
    margin-bottom: 0;
    text-shadow: 0 0 5px rgba(255, 255, 255, .5);
  }
  h3 {
    color: #aaa
  }
}

@keyframes p-loader--overlay-background {
  from {
    background: rgba(0, 0, 0, .7);
  }
  to {
    background: rgba(0, 0, 0, .9);
  }
}

.p-loader__wrapper {
  @include apply-font-family;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  user-select: none;
  cursor: progress;
  text-align: center;

  color: #fefefe;

  @include flex-center;

  background: transparent;

  .p-loader__logo {
    height: 6rem;
    width: 6rem;
    margin-bottom: 2rem;
    @include drop-shadow(10px)
  }
  .p-loader--text {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: .02em;
  }
  .p-loader__title {
    position: relative;
    z-index: 1;
    min-height: 2rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
    margin-bottom: .25rem;
    width: 95%;
    opacity: 1;

    @include flex-center;
    @include transition(all, 500ms);

    &--disappear {
      opacity: 0;
      //transform: rotateX(90deg);
      letter-spacing: 1px;
    }
  }
  .p-loader__modal-wrapper {
    height: 0;
    overflow: hidden;
    @include transition(all, 300ms);
    max-width: 450px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    border-radius: 8px;
    background: rgba(255, 255, 255, .1);
    text-align: left;

    .p-loader__modal {
      h1 {
        font-size: 1.75rem;
        background: rgba(0, 0, 0, .15);
        margin: 0;
        padding: 1rem 1.5rem
      }
      .p-loader__modal-content {
        padding: .5rem 2rem 1rem;

        p {
          margin: .75rem 0;
          line-height: 1.5;
        }
        ul {
          padding-left: 1rem;
          li:not(:last-child) {
            padding-bottom: .5rem;
          }
        }
        a, button {
          @include apply-font-family;
          display: inline-block;
          padding: 6px 12px;
          margin: 0 6px;
          text-decoration: none;
          background: #3375e0;
          border: none;
          color: #fff;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
          text-align: center;
          transition: background 50ms cubic-bezier(0.25, 1, 0.5, 1), transform 150ms cubic-bezier(0.25, 1, 0.5, 1), box-shadow 200ms cubic-bezier(0.25, 1, 0.5, 1);
          -webkit-appearance: none;
          appearance: none;
          box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 0 0 0 #286cd4;
          outline: none !important;
          letter-spacing: .015rem;

          &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, .6), 0 0 0 0 #286cd4;
          }
          &:active {
            color: #d0d0d0;
            background: #285db3;
            box-shadow: 0 0 0 rgba(0, 0, 0, .4), 0 0 0 3px #5798ff;
            transform: translateY(1px);
          }
        }
      }


    }
  }
  .p-loader__subtitle {
    //position: relative;
    //z-index: 1;
    //height: 2rem;
    //
    //@include flex-center;
    //@include full-width;
    font-size: .9rem;
    color: rgba(255, 255, 255, .5)
  }
  .p-loader__loading-indicators {
    width: 100%;
    position: relative;
    overflow: hidden;
    @include transition(all, 300ms);
    @include flex-center
  }
  .p-loader__loader {
    width: 12rem;
    overflow: hidden;
    position: relative;
    background: rgb(92, 107, 192, .1);
    height: 4px;
    min-height: 4px;
    border-radius: 2px;
    margin-bottom: 1.5rem;

    @include drop-shadow(5px, $color: #5C6BC0);

    .p-loader__loader-progress {
      @include transition(all, 250ms);

      width: 0;
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      background: #5C6BC0;
    }
  }
}

.p-loader__footer {
  @include apply-font-family;

  position: absolute;
  bottom: 0;
  height: 3rem;
  line-height: .9rem;
  width: 100%;
  font-size: .9rem;
  color: rgba(255, 255, 255, .35);
  letter-spacing: .015rem;
  pointer-events: none;

  display: flex;

  justify-content: center;

  .p-loader__footer-divider {
    margin: 0 .35rem;
  }
}

//@keyframes p-loader-gradient {
//  0% {
//    background-position: 0% 50%;
//  }
//  50% {
//    background-position: 100% 50%;
//  }
//  100% {
//    background-position: 0% 50%;
//  }
//}